default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  username: username
  password: password
  database: db_development


test:
  <<: *default
  username: username
  password: password
  database: db_test


production:
  <<: *default
  database: db_production
  username: proyecto
  password: <%= ENV['PROYECTO_DATABASE_PASSWORD'] %>
